In [ ]:
import pandas as pd
materials = pd.read_csv("materials.csv")
products = pd.read_csv("products.csv")

materials.shape , products.shape

((22, 9), (457, 12))

In [ ]:
materials.info()
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   material_id             22 non-null     object
 1   material_type           22 non-null     object
 2   strength_mpa            22 non-null     int64
 3   weight_capacity         22 non-null     float64
 4   co2_emission_kg_per_kg  22 non-null     float64
 5   biodegradability_score  22 non-null     int64
 6   recyclability_pct       22 non-null     int64
 7   cost_inr_per_kg         22 non-null     int64
 8   material_category       22 non-null     object
dtypes: float64(2), int64(4), object(3)
memory usage: 1.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  457 non-null    object
 1   product_name                457 non-null    object
 2   product_category            457 non-null    object
 3   product_weight_g            457 non-null    float64
 4   product_volume_cm3          457 non-null    float64
 5   price_inr                   457 non-null    float64
 6   fragility_level             457 non-null    object
 7   temperature_sensitivity     457 non-null    object
 8   moisture_sensitivity        457 non-null    object
 9   shelf_life_days             457 non-null    int64
 10  packaging_format            457 non-null    object
 11  current_packaging_material  457 non-null    object
dtypes: float64(3), int64(1), object(8)
memory usage: 43.0+ KB

In [ ]:
materials.isnull().sum()

material_id               0
material_type             0
strength_mpa              0
weight_capacity           0
co2_emission_kg_per_kg    0
biodegradability_score    0
recyclability_pct         0
cost_inr_per_kg           0
material_category         0
dtype: int64

In [ ]:
products.isnull().sum()

product_id                    0
product_name                  0
product_category              0
product_weight_g              0
product_volume_cm3            0
price_inr                     0
fragility_level               0
temperature_sensitivity       0
moisture_sensitivity          0
shelf_life_days               0
packaging_format              0
current_packaging_material    0
dtype: int64

In [ ]:
materials['material_id'].duplicated().sum()
materials['material_type'].duplicated().sum()
products['product_id'].duplicated().sum()
products['product_name'].duplicated().sum()

np.int64(0)

In [ ]:
materials.describe()

,strength_mpa,weight_capacity,co2_emission_kg_per_kg,biodegradability_score,recyclability_pct,cost_inr_per_kg
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,98.500000,1.480909,2.027273,0.500000,72.636364,130.090909
std,147.100144,1.535547,2.310469,0.511766,16.946823,106.287978
min,1.000000,0.030000,0.300000,0.000000,30.000000,22.000000
25%,12.750000,0.912500,0.925000,0.000000,61.250000,51.250000
50%,42.500000,1.170000,1.700000,0.500000,70.000000,107.500000
75%,77.500000,1.395000,2.075000,1.000000,85.000000,136.250000
max,500.000000,7.850000,11.700000,1.000000,100.000000,420.000000

In [ ]:
products.describe()

       product_weight_g  product_volume_cm3     price_inr  shelf_life_days
count        457.000000          457.000000    457.000000       457.000000
mean         632.059256         1096.222341    855.007637       470.030635
std         1160.987186         2544.935904   5366.513859       254.028842
min            4.000000            7.910000     10.000000         5.000000
25%          100.000000          173.220000     47.530000       240.000000
50%          340.000000          438.310000    102.240000       365.000000
75%          527.510000         1014.910000    201.760000       720.000000
max        10000.000000        24710.930000  64999.000000      1095.000000