In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

materials = pd.read_csv('/content/materials_cleaned.csv')

In [ ]:
materials.columns

Index(['material_id', 'material_type', 'strength_mpa', 'weight_capacity',
       'co2_emission_per_kg', 'biodegradability_score', 'recyclability_pct',
       'cost_inr_per_kg', 'material_category'],
      dtype='object')

In [ ]:
# Strength buckets for readability
def strength_bucket(mpa):
    if mpa < 20:
        return "Low"
    elif mpa < 50:
        return "Medium"
    else:
        return "High"

materials['strength_level'] = materials['strength_mpa'].apply(strength_bucket)

# Check result
materials[['strength_mpa', 'strength_level']].head()

   strength_mpa strength_level
0            26         Medium
1            12            Low
2            20         Medium
3            55           High
4            35         Medium

In [ ]:
materials['strength_level'].head()

0    Medium
1       Low
2    Medium
3      High
4    Medium
Name: strength_level, dtype: object

In [ ]:
# Normalize Co2, Cost and Strength fields to 0-1 scale
scaler = MinMaxScaler()

materials[["co2_norm","cost_norm","strength_norm"]] = scaler.fit_transform(materials[["co2_emission_per_kg","cost_inr_per_kg","strength_mpa"]])